@import 'variables.scss';
@import 'response.scss';
@import 'listing.scss';

body{
    background-color: whitesmoke;
}
body, p, h1, h2, h3, h4, h5, h6, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@font-face {
    font-family: "IranSans";
    src: url('./font/Iranian\ Sans.ttf');
}
#app{
    direction: rtl;
    text-align: rtl;
    font-family: "IranSans", Tahoma, sans-serif!important;
}
.wrapper{
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1);
    padding: 2px;
}


// utils
.cen-text{
    text-align: center;
}
.ltr-text{
    text-align: left;
}
.light-bgt-m{
    color: black;
}
.dark-bgt-l{
    color: white;
}
.dark-bgt-m{
    color: whitesmoke;
}
.dark-bgt-h{
    color: $lgray-color;
}



// Margin and Padding
.m0{margin: 0!important;}
.m0-vr{margin: 0 auto!important;}
.m0-hr{margin: auto 0!important;}
.m1{margin: $s1;}
.m1-vr{margin: $s1 0;}
.m1-hr{margin: 0 $s1;}
.m2{margin: $s2;}
.m2-vr{margin: $s2 0;}
.m2-hr{margin: 0 $s2;}
.m3{margin: $s3;}
.m3-vr{margin: $s3 0;}
.m3-hr{margin: 0 $s3;}
.m4{margin: $s4;}
.m4-vr{margin: $s4 0;}
.m4-hr{margin: 0 $s4;}
.m5{margin: $s5;}
.m5-vr{margin: $s5 0;}
.m5-hr{margin: 0 $s5;}
.p0{padding: 0!important;}
.p0-vr{padding: 0 auto!important;}
.p0-hr{padding: auto 0!important;}
.p1{padding: $s1;}
.p1-vr{padding: $s1 0;}
.p1-hr{padding: 0 $s1;}
.p2{padding: $s2;}
.p2-vr{padding: $s2 0;}
.p2-hr{padding: 0 $s2;}
.p3{padding: $s3;}
.p3-vr{padding: $s3 0;}
.p3-hr{padding: 0 $s3;}
.p4{padding: $s4;}
.p4-vr{padding: $s4 0;}
.p4-hr{padding: 0 $s4;}
.p5{padding: $s5;}
.p5-vr{padding: $s5 0;}
.p5-hr{padding: 0 $s5;}
