// BREAKPOINTS
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// COLORS
$pri-color: #ed457d;
$lpri-color: #fef5f8;
$sec-color: #f05488;
$lgray-color: #b4b4b4;


// MARG & PAD
$s1: .25rem;
$s2: .5rem;
$s3: 1rem;
$s4: 1.5rem;
$s5: 3rem;
